:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f1f5f9; /* Um cinza bem clarinho para destacar os cards brancos */
  color: #1e293b;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}